@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Benjamin Haldin<br />
    65100, Vaasa<br />
    <abbr title="Phone">P:</abbr>
    0400615443
</address>

<address>
    <strong>Email:</strong> <a href="mailto:benjaminhaldin@gmail.com">BenjaminHaldin@gmail.com</a><br />
</address>
